# Ignore compiled bytecode files and __pycache__ directories
*.pyc
__pycache__/
*/__pycache__/
media/
/venv/
# Ignore environment files
/.env
/.env
venv/
# Ignore VSCode workspace settings
.vscode/
/static/
/staticfiles/
/staticfiles/admin
#
/.venv
/E-commerce-34sOm8Ye
/E-commerce-34sOm8Ye
/.venv/
cookies.txt
# Hello 
