{% extends "base.html" %}

{% block title %}Activate Your Account{% endblock %}

{% block content %}
    {% autoescape off %}
    <p>Hello {{ user.first_name }},</p>
    <p>Please click the link below to activate your account:</p>
    <p>
        {% block reset_link %}
        <a href="{{ activation_link }}">Activate Account</a>
        {% endblock %}
    </p>
    <p>If you did not register on our site, please ignore this message.</p>
    <p><strong>Best regards,</strong></p>
    <p><strong>Mando Team</strong></p>
    {% endautoescape %}
{% endblock %}
