{% extends "base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
    {% autoescape off %}
    <p>Hello {{ user.first_name }},</p>
    <p>Please click the link below to reset your password:</p>
    <p>
        {% block reset_link %}
        <a href="http://localhost:5173/reset-password/{{ uid }}/{{ token }}"><strong>Reset your password</strong></a>
        {% endblock %}
    </p>
    <p>If you did not request a password reset, please ignore this message.</p>
    <p><strong>Best regards,</strong></p>
    <p><strong>Mando Team</strong></p>
    {% endautoescape %}
{% endblock %}
