{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Reset Password" %}</title>
</head>
<body>
    <h2>{% trans "Reset Password" %}</h2>
    <form method="post">
        {% csrf_token %}
        <label for="new_password1">{% trans "New password" %}:</label>
        <input type="password" id="new_password1" name="new_password1" required><br>
        
        <label for="new_password2">{% trans "Confirm new password" %}:</label>
        <input type="password" id="new_password2" name="new_password2" required><br>
        
        <button type="submit">{% trans "Reset password" %}</button>
    </form>
</body>
</html>
